<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		{% block stylesheets %}
		<!-- some stylesheet, using the asset() function to get the link to the resource -->
		<link rel="stylesheet" type="text/css" href="{{asset('bundles/bloggerblogcoursihm/css/base.css')}}">
		{% endblock %}
		<title>{% block title %}bloc titre{% endblock %}</title>
	</head>
	<body>
	{% block body %}

		{% block header %}
		<header>
		<div>Header du blog Cours IHM, c'est l'éclate !</div>
		<!-- Your banner and headers information goes ther -->
		</header>
		{% endblock %}

		{% block menu %}
		<nav>
			<ul>
				<li>Se connecter</li>
				<li><a href="{{ path('blogger_blog_cours_ihm_homepage', {'page': 1}) }}" class="btn">       Accueil</a></li>
				<li><a href="{{ path('blogger_blog_cours_ihm_ajouterpage') }}" class="btn"> Composer</a></li>
				<li>Jouer</li>
				<li>à propos</li>
			</ul>
		</nav>
		{% endblock %}

		{% block footer %}
		<footer>
		<div>footer !</div>
		</footer>
		{% endblock %}
	{% endblock %}
	</body>
</html>